@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Animación de giro lenta */
  .animate-spin-slow {
    animation: spin 6s linear infinite;
  }

  /* Hover para giro rápido */
  .hover\\:animate-spin-hover:hover {
    animation: spin 1s linear infinite;
  }

  /* Formulario con borde animado giratorio */
  .animate-border-spin {
    position: relative;
    z-index: 1;
  }

  .animate-border-spin::before {
    content: "";
    position: absolute;
    inset: -2px;
    z-index: -1;
    border-radius: 1rem;
    background: linear-gradient(120deg, #e81cff, #40c9ff, #e81cff);
    background-size: 300% 300%;
    animation: spin 6s linear infinite;
    opacity: 1;
    filter: blur(0px);
  }

  /* Borde animado con efecto de gradiente */
  .border-gradient-animated {
    position: relative;
    z-index: 1;
    background: #ff0000;
    border-radius: 16px;
    padding: 2px;
  }

  .border-gradient-animated::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 2px;
    background: linear-gradient(130deg, #e81cff, #00b7ff, #e81cff);
    background-size: 300% 300%;
    animation: gradientSpin 5s ease infinite;
    z-index: -1;
  }
}





/* Animación de fondo que se desplaza como un gradiente */
@keyframes gradientSpin {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Estilos globales */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #ff0000;
  }
}
